.Post {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    &-item {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        background-color: rgb(117, 0, 0);
        padding: 12px;
        flex-basis: 40%;
        flex-grow: 1;
        border-radius: 12px;
        border: 1px solid #111;
    }
}