.box {
	width: 450px;
	padding: 10px;
	border-radius: 16px;
	border: 2px solid #111;
	margin: 20px;
	position: relative;
}
.box.dark {
	background-color: #333;
	color: royalblue;
}
.box.light{
	background-color: #d2d2d2;
	color: #111;
}
.box.purple{
	background-color: purple;
	color: #fff;
}



.box >img {
	width: 100%;
	object-fit: cover;
}

.box > p {
	margin: 10px auto;
}

.box>h1 {
	margin: 10px auto;
	text-align: center;
	background-color: orangered;
	padding: 4px;
	border-radius: 4px;
}