.Posts {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 10px;
	padding: 16px;
	&-item {
		font-weight: 700;
		text-decoration: none;
		flex-basis: 40%;
		flex: 1 0 max(40%, 320px);
		border: 1px solid royalblue;
		padding: 1.5rem 1rem;
		color: #333;
		border-radius: 12px;
		transition: 0.4s;
		transition-delay: 1s;
		background-color: #f3f3f3;
		h2 {
			padding: 6px;
			margin-bottom: 12px;
			border-bottom: 2px solid #000;
		}
		&:hover h2 {
			transform: translateY(-4px);
			transition: 0.4s;
			
			color: royalblue;
		}
	}
}

