.App {
    max-width: 1140px;
    margin: 0 auto;

}

.Posts {
    width: 800px;
    margin: 10px auto;
    ul {
        list-style-type: none;
        width: 90%;
        margin: 0 auto;
        li {
            font-size: 20px;
            border-radius: 6px;
            padding: 6px 12px;
            border: 2px solid teal;
            text-align: left;
            width: 100%;
            margin: 12px 0;
        }
    }
}

.Pagination {
    width: 800px;
    height: 50px;
    margin: 20px auto;
    overflow-y: scroll;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        width: 90%;
        list-style: none;
        gap: 4px;
        li {
            padding: 6px 12px;
            border: 2px solid teal;
            border-radius: 4px;
            &:hover {
                background-color: rgb(160, 218, 210);
                transition: 0.3s;
            }
        }
    }
}