div {
	max-width: 1140px;
	margin: 20px auto;
}
	
h1 {
	text-align: center;
}
	
button {
	margin: 20px;
	border-radius: 12px;
	border: 1px solid orange;
	font-weight: 700;
	cursor: pointer;
	padding: 5px 18px;
}