.Post {
	width: 600px;
	margin: 40px auto;
	border: 1px solid royalblue;
	padding: 1.5rem 1rem;
	border-radius: 12px;
	font-size: 22px;
	background-color: #f3f3f3;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 34px 35px;
	.tags {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-weight: 300;
		color: #111;
	}
	h2 {
		font-weight: 300;
		margin-bottom: 12px;
	}
	p {
		line-height: 1.6;
		display: block;
		width: 100%;	

		svg {
			font-size: 25px;
			color: royalblue;
		}
	}
}