*{
user-select: none;	
}
.errorPage{
	width: 500px;
	margin: 10px auto;
	text-align: center;
}
.error-image {
	width: 600px;
	margin: 20px auto;
	display: block;
}

.btn-link {
	font-weight: 500;
	border: 1px solid #111;
	width: 150px;
	color: #111;
	padding:  0.6rem 1rem;
	border-radius: 12px;

	text-decoration: none;
	color: inherit;
	display: block;
	margin: 0 auto;
}
